<a href="https://colab.research.google.com/github/therealzh/Data_viz/blob/main/Fuction_Loop_Condition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = 'zhou zhan'
surname = 'Suh'
ID = '613020196-2'

b = (f'ชื่อ {name} นามสกุล {surname} ID {ID}')
print (b)

ชื่อ zhou zhan นามสกุล Suh ID 613020196-2

###Function
ทำหน้าทีรับ input มาประมวณผลออกเป็น output
f(x) = y

##Def คือการกำหนดฟังก์ชัน

``` python
      def functoin_name(_Input_) :
      do_something with _Input_ to get _Output_
      return _Output_
``` 
`  backtick
~ tilde
{} curly bracket
[] square bracket

##ตัวอย่างฟังก์ชัน

In [ ]:
def print_name (name , surname , ID) :
      st = f'ชื่อ {name} นามสกุล {surname} ID {ID}'
      return st

In [ ]:
print_name ('613020196-2' , 'zhou zhan', 'Suh')

'ชื่อ 613020196-2 นามสกุล zhou zhan ID Suh'

In [ ]:
print(print_name (ID = '613020XXX-X' , name = 'Johnny', surname 'Suh'))

###เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

In [ ]:
def print_name2 (name , surname , ID) :
      st = f'ชื่อ {name} นามสกุล {surname} ID {ID}'
      print(st)

In [ ]:
print_name2 (name = 'Johnny', surname 'Suh', ID = '613020XXX-X')

SyntaxError: ignored

##ฟังก์ชันไม่จำเป็นต้องมี่ Input

In [ ]:
def Pi() :
      return 3.14159265359

In [ ]:
Pi()*(2**2)

12.56637061436

###สามารถกำหนด default

In [ ]:
def print_2lines_default(name,surname,ID,grade='F') :
      st = f'Name {name} Surname {surname} ID {ID}'
      print(st)
      st2=f'เกรดวิชา Data viz >>> {grade}'
      print(st2)

In [ ]:
print_2lines_default('zhou zhan' , 'Suh' , '613020196-2', 'A')

Name zhou zhan Surname Suh ID 613020196-2
เกรดวิชา Data viz >>> A

###คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] :
      print(f'this number = {i} after process = {i**2}')

this number = 1 after process = 1
this number = 2 after process = 4
this number = 3 after process = 9

###ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Zhouzhan'
คำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /
จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค

In [1]:
for i in 'Zhouzhan':
    print(f'{i} -> / ' )
    print('  ')

Z -> /

h -> /

o -> /

u -> /

z -> /

h -> /

a -> /

n -> /

In [3]:
for i in 'Zhouzhan':
    print(f'{i} -> / ' ,end='') #สั่งให้printไม่เว้นบรรทัด

Z -> / h -> / o -> / u -> / z -> / h -> / a -> / n -> /

In [4]:
for i in 'Zhouzhan':
    print(f'{i} -> / ' ,end=',') #สั่งให้printไม่เว้นบรรทัด

Z -> / ,h -> / ,o -> / ,u -> / ,z -> / ,h -> / ,a -> / ,n -> / ,

###สร้าง list ตัวเลขแบบอัตโนมัติ range()

In [5]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [6]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [7]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงโปร่ง [,)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

###Loop in Loop
###สามารถใช้ for loop ซ้อนกันสองรอบได้

In [10]:
for i in range(2,5):
    print(f'now i = {i}')
    for j in range(1,13):
        print(i,' x ',j,'=',i*j)
    print(f'The inner loop is end')

now i = 2
2  x  1 = 2
2  x  2 = 4
2  x  3 = 6
2  x  4 = 8
2  x  5 = 10
2  x  6 = 12
2  x  7 = 14
2  x  8 = 16
2  x  9 = 18
2  x  10 = 20
2  x  11 = 22
2  x  12 = 24
The inner loop is end
now i = 3
3  x  1 = 3
3  x  2 = 6
3  x  3 = 9
3  x  4 = 12
3  x  5 = 15
3  x  6 = 18
3  x  7 = 21
3  x  8 = 24
3  x  9 = 27
3  x  10 = 30
3  x  11 = 33
3  x  12 = 36
The inner loop is end
now i = 4
4  x  1 = 4
4  x  2 = 8
4  x  3 = 12
4  x  4 = 16
4  x  5 = 20
4  x  6 = 24
4  x  7 = 28
4  x  8 = 32
4  x  9 = 36
4  x  10 = 40
4  x  11 = 44
4  x  12 = 48
The inner loop is end

###Loop in fucntion

In [15]:
list_friends = ['EXO','NCT','VICTON','MONSTAX','ONEUS']

In [16]:
def print_feelings(I,friends,feeling ='love'):
    for friend in friends :
        print(f'{I} {feeling} {friend}')

In [17]:
print_feelings('I',list_friends)

I love EXO
I love NCT
I love VICTON
I love MONSTAX
I love ONEUS

###Condition คือ เงื่อนไข/ประโยคเงื่อนไข

if condition1 :
do something
elif condition2 : #elif คือ else if
do another thing
else :
do

In [18]:
for name1 in list_friends :
    for name2 in list_friends :
        print(name1, 'know' , name2)

EXO know EXO
EXO know NCT
EXO know VICTON
EXO know MONSTAX
EXO know ONEUS
NCT know EXO
NCT know NCT
NCT know VICTON
NCT know MONSTAX
NCT know ONEUS
VICTON know EXO
VICTON know NCT
VICTON know VICTON
VICTON know MONSTAX
VICTON know ONEUS
MONSTAX know EXO
MONSTAX know NCT
MONSTAX know VICTON
MONSTAX know MONSTAX
MONSTAX know ONEUS
ONEUS know EXO
ONEUS know NCT
ONEUS know VICTON
ONEUS know MONSTAX
ONEUS know ONEUS

In [19]:
for name1 in list_friends :
    for name2 in list_friends :
        if name1 != name2 :#ไม่ปริ้นชื่อเดียวกันซ้ำ
           print(name1, 'Killed' , name2,)

EXO Killed NCT
EXO Killed VICTON
EXO Killed MONSTAX
EXO Killed ONEUS
NCT Killed EXO
NCT Killed VICTON
NCT Killed MONSTAX
NCT Killed ONEUS
VICTON Killed EXO
VICTON Killed NCT
VICTON Killed MONSTAX
VICTON Killed ONEUS
MONSTAX Killed EXO
MONSTAX Killed NCT
MONSTAX Killed VICTON
MONSTAX Killed ONEUS
ONEUS Killed EXO
ONEUS Killed NCT
ONEUS Killed VICTON
ONEUS Killed MONSTAX

In [20]:
for name1 in list_friends :
    for name2 in list_friends :
        if name1 == name2 :#ปริ้นชื่อเดียวกันซ้ำ
           print(name1, 'Killed' , name2,)

EXO Killed EXO
NCT Killed NCT
VICTON Killed VICTON
MONSTAX Killed MONSTAX
ONEUS Killed ONEUS

In [21]:
for name1 in list_friends :
    for name2 in list_friends :
        if name1 == name2 :#ไม่ปริ้นชื่อเดียวกันซ้ำ
           'do nothing'
        else:
           print(name1, 'Killed' , name2,)

EXO Killed NCT
EXO Killed VICTON
EXO Killed MONSTAX
EXO Killed ONEUS
NCT Killed EXO
NCT Killed VICTON
NCT Killed MONSTAX
NCT Killed ONEUS
VICTON Killed EXO
VICTON Killed NCT
VICTON Killed MONSTAX
VICTON Killed ONEUS
MONSTAX Killed EXO
MONSTAX Killed NCT
MONSTAX Killed VICTON
MONSTAX Killed ONEUS
ONEUS Killed EXO
ONEUS Killed NCT
ONEUS Killed VICTON
ONEUS Killed MONSTAX

###Condition syntex (==,!=,>=,<=,>,<)

In [22]:
'EXO' == 'ONEUS'

False

In [23]:
'EXO' != 'ONEUS'

True

หากหลังมีเงื่อนไข True

In [24]:
if True :
   print('Yes')
else :
   print('No')

Yes

###**HW**
###เขียน function ตัดเกรด โดยที่ iputเป็นคะแนน(0-100) ,output เป็นเกรด (F-A)
###วนลูป input [1,50,65,90,101,-5,49]

In [34]:
def GPA(score) :
    if score > 100 :
       print(f'Cannot Calculate YOUR GRADE!!')
    elif 80 <= score < 101 :
       print(f'Your score is {score}. Your grade is A.')
    elif 75 <= score < 80  :
       print(f'Your score is {score}. Your grade is B+.')
    elif 70 <= score < 75  :
       print(f'Your score is {score}. Your grade is B.')
    elif 65 <= score < 70 :
       print(f'Your score is {score}. Your grade is C+.')
    elif 60 <= score < 65 :
       print(f'Your score is {score}. Your grade is C.')
    elif 55 <= score < 60 :
       print(f'Your score is {score}. Your grade is D+.')
    elif 50 <= score < 55 :
       print(f'Your score is {score}. Your grade is D.')
    elif 0 <= score < 50 :
       print(f'Your score is {score}. Your grade is F.')
    elif score < 0 :
       print(f'Cannot Calculate YOUR GRADE!!')

In [35]:
list_GPA = [1,50,65,90,101,-5,49]
list_GPA

[1, 50, 65, 90, 101, -5, 49]

In [36]:
for i in list_GPA :
    GPA(i)

Your score is 1. Your grade is F.
Your score is 50. Your grade is D.
Your score is 65. Your grade is C+.
Your score is 90. Your grade is A.
Cannot Calculate YOUR GRADE!!
Cannot Calculate YOUR GRADE!!
Your score is 49. Your grade is F.