<a href="https://colab.research.google.com/github/therealzh/Data_viz/blob/main/PANDAS102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
import os

path = '/content/drive/My Drive/Data viz'

In [6]:
covid_file_path = os.path.join(path,'pm-18-jan-2021(1).csv')
print(covid_file_path)

/content/drive/My Drive/Data viz/pm-18-jan-2021(1).csv

In [7]:
data_covid = pd.read_csv(covid_file_path)
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

##.isnull

In [10]:
data_covid.isnull()

         No.  announce_date  ...  district_of_onset   risk
0      False          False  ...               True  False
1      False          False  ...               True  False
2      False          False  ...              False  False
3      False          False  ...               True  False
4      False          False  ...               True  False
...      ...            ...  ...                ...    ...
12418  False          False  ...              False  False
12419  False          False  ...              False  False
12420  False          False  ...              False  False
12421  False          False  ...              False  False
12422  False          False  ...              False  False

[12423 rows x 10 columns]

In [8]:
data_covid.isnull().any()

No.                      False
announce_date            False
notification_date         True
sex                       True
age                       True
nationality               True
province_of_isolation     True
province_of_onset         True
district_of_onset         True
risk                      True
dtype: bool

.all เอาค่าความจริงภายในแต่ละ all มาเก็บ

In [9]:
data_covid.isnull().all()

No.                      False
announce_date            False
notification_date        False
sex                      False
age                      False
nationality              False
province_of_isolation    False
province_of_onset        False
district_of_onset        False
risk                     False
dtype: bool

In [11]:
data_covid.iloc[0,0].isnull()

AttributeError: ignored

In [12]:
data_covid['No.'][0].isnull()

AttributeError: ignored

In [13]:
data_covid.iloc[0,0]

1

In [16]:
data_covid.iloc[:1,0].isnull()

0    False
Name: No., dtype: bool

*   ต่อตารางแกน X แกน Y
ต่อแกน Y คือ เพิ่มจำนวนข้อมูล (records)
ต่อแกน X คือ เพิ่ม columns (เพิ่มรายละเอียดของข้อมูล)

ต่อตารางแกน y ด้วย pd.concat()

In [25]:
dataKK= data_covid[data_covid['province_of_onset']== 'ขอนแก่น']
dataKK

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

In [26]:
dataUD= data_covid[data_covid['province_of_onset']== 'อุดรธานี']
dataUD

       No.  ...                                         risk
424    425  ...                                      สนามมวย
434    435  ...                                  สถานบันเทิง
471    472  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
883    884  ...                                  สถานบันเทิง
885    886  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
941    942  ...                                  สถานบันเทิง
1059  1060  ...                คนไทยเดินทางกลับจากต่างประเทศ
2013  2014  ...                คนไทยเดินทางกลับจากต่างประเทศ
5810  5811  ...                            Cluster สมุทรสาคร
7433  7434  ...                                Cluster ระยอง

[10 rows x 10 columns]

In [27]:
dataMS= data_covid[data_covid['province_of_onset']== 'มหาสารคาม']
dataMS

         No.  ...                                         risk
346      347  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
789      790  ...                                  สถานบันเทิง
6690    6691  ...                            Cluster สมุทรสาคร
10802  10803  ...                            Cluster สมุทรสาคร

[4 rows x 10 columns]

In [28]:
pd.concat([dataKK,dataMS,dataUD])

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
346      347  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
789      790  ...                                    สถานบันเทิง
6690    6691  ...                              Cluster สมุทรสาคร
10802  10803  ...                              Cluster สมุทรสาคร
424      425  ...                                        สนามมวย
434      435  ...                                    สถานบันเทิง
471      472  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
883      884  ...                                    สถานบันเทิง
885      886  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
941      942  ...                                    สถานบันเทิง
1059    1060  ...                  คนไทยเดินทางกลับจากต่างประเทศ
2013    2014  ...                  คนไทยเดินทางกลับจากต่างประเทศ
5810    5811  ...                              Cluster สมุทรสาคร
7433    7434  ...                                  Cluster ระยอง

[28 rows x 10 columns]

ต่อตาราง แกน x
* จับ 2 ตารางมาต่อกันเลย (merge)
* เลือกมาเพิ่มเฉพาะบาง column

In [30]:
data_province = data_covid[['No.','announce_date','province_of_onset']]
data_province

         No. announce_date province_of_onset
0          1     1/12/2020     กรุงเทพมหานคร
1          2     1/17/2020     กรุงเทพมหานคร
2          3     1/22/2020            นครปฐม
3          4     1/22/2020     กรุงเทพมหานคร
4          5     1/24/2020     กรุงเทพมหานคร
...      ...           ...               ...
12418  12419     1/18/2021       สมุทรปราการ
12419  12420     1/18/2021       สมุทรปราการ
12420  12421     1/18/2021            ชลบุรี
12421  12422     1/18/2021            ชลบุรี
12422  12423     1/18/2021             ระยอง

[12423 rows x 3 columns]

In [32]:
data_human = data_covid[['No.','age','sex','nationality']]
data_human

         No.   age   sex nationality
0          1  61.0  หญิง       China
1          2  74.0  หญิง       China
2          3  73.0  หญิง    Thailand
3          4  68.0   ชาย       China
4          5  66.0  หญิง       China
...      ...   ...   ...         ...
12418  12419  28.0  หญิง    Thailand
12419  12420  27.0  หญิง    Thailand
12420  12421  10.0   ชาย    Thailand
12421  12422  52.0   ชาย    Thailand
12422  12423  51.0   ชาย    Thailand

[12423 rows x 4 columns]

#merge ตารางแบบง่าย รู้ว่าสองตาราง record ตรงกัน

In [35]:
full_table1=data_human.merge(data_province)
full_table1

         No.   age   sex nationality announce_date province_of_onset
0          1  61.0  หญิง       China     1/12/2020     กรุงเทพมหานคร
1          2  74.0  หญิง       China     1/17/2020     กรุงเทพมหานคร
2          3  73.0  หญิง    Thailand     1/22/2020            นครปฐม
3          4  68.0   ชาย       China     1/22/2020     กรุงเทพมหานคร
4          5  66.0  หญิง       China     1/24/2020     กรุงเทพมหานคร
...      ...   ...   ...         ...           ...               ...
12418  12419  28.0  หญิง    Thailand     1/18/2021       สมุทรปราการ
12419  12420  27.0  หญิง    Thailand     1/18/2021       สมุทรปราการ
12420  12421  10.0   ชาย    Thailand     1/18/2021            ชลบุรี
12421  12422  52.0   ชาย    Thailand     1/18/2021            ชลบุรี
12422  12423  51.0   ชาย    Thailand     1/18/2021             ระยอง

[12423 rows x 6 columns]

In [44]:
data_human2=data_human.sort_values()
data_human2

TypeError: ignored

In [39]:
full_table2=data_human.merge(data_province)
full_table2.head()

   No.   age   sex nationality announce_date province_of_onset
0    1  61.0  หญิง       China     1/12/2020     กรุงเทพมหานคร
1    2  74.0  หญิง       China     1/17/2020     กรุงเทพมหานคร
2    3  73.0  หญิง    Thailand     1/22/2020            นครปฐม
3    4  68.0   ชาย       China     1/22/2020     กรุงเทพมหานคร
4    5  66.0  หญิง       China     1/24/2020     กรุงเทพมหานคร

In [40]:
data_human2_renamed=data_humn2.renamed(column={'No.':'patientNumber'})
data_human2_renamed.head()

NameError: ignored

In [42]:
data_human2_renamed.merge(data_province,left_on='patientNumber',right_on='No.')

NameError: ignored

In [43]:
full_table3=data_human2_renamed.merge(data_province)

NameError: ignored

data_human2_renamed.merge(data_province)



*   ต่อตารางแกน X แกน Y
*   .groupby   
*   save table
* create pandas table
* sort_values

#**HW7 สร้างตารางใหม่ที่ค่าใน ```sex``` เป็นmissing ทั้งหมด**