<a href="https://colab.research.google.com/github/therealzh/Data_viz/blob/main/PANDAS101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os

path = '/content/drive/My Drive/Data viz'

In [4]:
covid_file_path = os.path.join(path,'pm-18-jan-2021(1).csv')
print(covid_file_path)

/content/drive/My Drive/Data viz/pm-18-jan-2021(1).csv

#**Load Data to Memory**

In [5]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

In [6]:
data_covid.head() #ไฟล์ที่แสดงจะขึ้นน้อยลง

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[5 rows x 10 columns]

In [7]:
data_covid.shape

(12423, 10)

##ชี้ค่าในตาราง

#Basic

In [8]:
data_covid['province_of_onset']

0        กรุงเทพมหานคร
1        กรุงเทพมหานคร
2               นครปฐม
3        กรุงเทพมหานคร
4        กรุงเทพมหานคร
             ...
12418      สมุทรปราการ
12419      สมุทรปราการ
12420           ชลบุรี
12421           ชลบุรี
12422            ระยอง
Name: province_of_onset, Length: 12423, dtype: object

In [9]:
data_covid['province_of_onset'][4]

'กรุงเทพมหานคร'

##.iloc

In [10]:
data_covid.iloc[4,7]

'กรุงเทพมหานคร'

### **Table Slicing**

##ตัดมาเฉพาะ column ที่ต้องการ

In [11]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']] #ใส่ [] ซ้อน  ถ้าอยากได้หลายๆค่า
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12418     1/18/2021  ...                                  สถานบันเทิง
12419     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421     1/18/2021  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 3 columns]

### ตัดเฉพาะ rows

#แบบง่าย แต่ใช้การอะไรไม่ค่อยจะได้ (มองเป็น array แล้วตัดแบบ array)

In [12]:
data_covid.iloc[1:4, : ]

   No. announce_date  ... district_of_onset                              risk
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[3 rows x 10 columns]

###แบบ advanced แต่ใช้ประโยชน์ได้เยอะกว่า (ตัดแบบใช้ logic query)

In [13]:
data_covid[data_covid['province_of_onset']=='ขอนแก่น']

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

data_covid[x] ; x สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ
1. ชื่อ column
2. rows ที่ต้องการ (ใส่ list ที่มีขนาดเท่ากับจำนวนแถว แล้วบอกว่าเอาแถวไหนบ้าง โดยใช้ logical expression (True/ False) )

In [14]:
eight_rows_covid = data_covid.iloc[:8,:]
eight_rows_covid

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
1    2     1/17/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
4    5     1/24/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
6    7     1/26/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
7    8     1/26/2020  ...            หัวหิน  คนต่างชาติเดินทางมาจากต่างประเทศ

[8 rows x 10 columns]

In [15]:
eight_rows_covid[[True,False,True,True,False,True,False,False]]

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
2    3     1/22/2020  ...             เมือง  คนต่างชาติเดินทางมาจากต่างประเทศ
3    4     1/22/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ
5    6     1/25/2020  ...               NaN  คนต่างชาติเดินทางมาจากต่างประเทศ

[4 rows x 10 columns]

In [16]:
all_rows_covid=data_covid.iloc[:,:]
all_rows_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

In [17]:
all_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร'

0         True
1         True
2        False
3         True
4         True
         ...
12418    False
12419    False
12420    False
12421    False
12422    False
Name: province_of_onset, Length: 12423, dtype: bool

In [18]:
all_rows_covid[all_rows_covid['province_of_onset']== 'ขอนแก่น'] 
#นับจากหลังมาหน้า
# all ครั้งแรกคือ เลือกแค่rows (เป็นการสร้าง list ของ logical expression)
# all ครั้งที่2 คือ เลือก column ด้วย

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[14 rows x 10 columns]

###**Homework**
1. คำนวณ***อายุเฉลี่ยของผู้หญิงและผู้ชายของข้อมูลทั้งหมด***
2. คำนวณ ***อายุเฉลี่ยของผู้หญิงและผู้ชายของข้อมูลจังหวัดขอนแก่น***
3. หาจำนวนผู้ป่วย ***คนต่างชาติเดินทางมาจากต่างประเทศ***

In [19]:
all_age_covid= data_covid[['sex','age','province_of_onset']] 
all_age_covid

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12418  หญิง  28.0       สมุทรปราการ
12419  หญิง  27.0       สมุทรปราการ
12420   ชาย  10.0            ชลบุรี
12421   ชาย  52.0            ชลบุรี
12422   ชาย  51.0             ระยอง

[12423 rows x 3 columns]

In [20]:
#allหญิง
fm_all = data_covid[data_covid['sex']=='หญิง']
fm = fm_all.iloc[:,4].dropna()
fm

0        61.0
1        74.0
2        73.0
4        66.0
5        33.0
         ...
12413    16.0
12416    36.0
12417    29.0
12418    28.0
12419    27.0
Name: age, Length: 4289, dtype: float64

In [21]:
sum = 0
for i in fm:
    sum = float(sum + i)
    fm_age = sum/len(fm)

In [22]:
#allชาย
mm_all = data_covid[data_covid['sex']=='ชาย']
mm = mm_all.iloc[:,4].dropna()
mm

3        68.0
8        63.0
10       33.0
11       61.0
12        6.0
         ...
12414    32.0
12415    38.0
12420    10.0
12421    52.0
12422    51.0
Name: age, Length: 4366, dtype: float64

In [23]:
sum = 0
for i in mm:
    sum = float(sum + i)
    mm_age = sum/len(mm)

In [24]:
#ขอนแก่นหญิง
KK = data_covid[data_covid['province_of_onset']=='ขอนแก่น']
fm_KK = KK[KK['sex']=='หญิง']
fmKK_age = fm_KK.iloc[:,4].dropna()
fmKK_age

462      36.0
1970     70.0
2637     63.0
5948     32.0
6082     36.0
11697    17.0
11698    37.0
Name: age, dtype: float64

In [25]:
sum = 0
for i in fmKK_age:
    sum = float(sum + i)
    fmKK_avg = sum/len(fmKK_age)

In [26]:
mm_KK = KK[KK['sex']=='ชาย']
mmKK_age = mm_KK.iloc[:,4].dropna()
mmKK_age

180      33.0
1466     19.0
2673     68.0
9333     17.0
9334     20.0
10610    17.0
11517    12.0
Name: age, dtype: float64

In [27]:
sum = 0
for i in mmKK_age:
    sum = float(sum + i)
    mmKK_avg = sum/len(mmKK_age)

In [28]:
e=all_rows_covid[all_rows_covid['risk']== 'คนต่างชาติเดินทางมาจากต่างประเทศ'].shape[0] 
e

155

In [29]:
print('ข้อที่ 1')
print(f' อายุเฉลี่ยของผู้ป่วย covid-19 เพศหญิง คือ {fm_age} ปี \n อายุเฉลี่ยของผู้ป่วย covid-19 เพศชาย คือ {mm_age} ปี\n')

print('ข้อที่ 2')
print(f' อายุเฉลี่ยของผู้ป่วย covid-19 เพศหญิงในจังหวัดขอนแก่น คือ {fmKK_avg} ปี \n อายุเฉลี่ยของผู้ป่วย covid-19 เพศชายในจังหวัดขอนแก่น คือ {mmKK_avg} ปี\n')

print('ข้อที่ 3')
print(f' จำนวนผู้ป่วย covid-19 ที่เป็นคนต่างชาติเดินทางมาจากต่างประเทศ มี {e} คน')

ข้อที่ 1
 อายุเฉลี่ยของผู้ป่วย covid-19 เพศหญิง คือ 36.707624154814646 ปี
 อายุเฉลี่ยของผู้ป่วย covid-19 เพศชาย คือ 39.55680256527714 ปี

ข้อที่ 2
 อายุเฉลี่ยของผู้ป่วย covid-19 เพศหญิงในจังหวัดขอนแก่น คือ 41.57142857142857 ปี
 อายุเฉลี่ยของผู้ป่วย covid-19 เพศชายในจังหวัดขอนแก่น คือ 26.571428571428573 ปี

ข้อที่ 3
 จำนวนผู้ป่วย covid-19 ที่เป็นคนต่างชาติเดินทางมาจากต่างประเทศ มี 155 คน

##การวนลูป Missing Value


*   ลบ record ที่เป็น missing 
*   แทนที่ค่า missing ด้วยค่าที่เหมาะสม // mean, default, category-unknown
*   ใช้ค่าจาก column อื่นๆ ช่วยประมาณ ค่าใน columnn ที่หายไป (regression, deep learning, etc.)

### ลบ record (drop_na)
missing = ```none``` ```NA``` (not autorize) ```NaN``` (not a number)

In [34]:
this_data = data_covid[['sex','age','province_of_onset']]
this_data

        sex   age province_of_onset
0      หญิง  61.0     กรุงเทพมหานคร
1      หญิง  74.0     กรุงเทพมหานคร
2      หญิง  73.0            นครปฐม
3       ชาย  68.0     กรุงเทพมหานคร
4      หญิง  66.0     กรุงเทพมหานคร
...     ...   ...               ...
12418  หญิง  28.0       สมุทรปราการ
12419  หญิง  27.0       สมุทรปราการ
12420   ชาย  10.0            ชลบุรี
12421   ชาย  52.0            ชลบุรี
12422   ชาย  51.0             ระยอง

[12423 rows x 3 columns]

In [35]:
print(data_covid.shape)
print(data_covid.dropna().shape)

(12423, 10)
(6430, 10)

In [40]:
this_data.dropna().shape

(8253, 3)

In [37]:
this_data.dropna()
print(this_data.shape)

(12423, 3)

###แทนที่ missing ด้วยค่าที่เหมาะสม

การวนลูป record ในตาราง

In [41]:
this_data.head()

    sex   age province_of_onset
0  หญิง  61.0     กรุงเทพมหานคร
1  หญิง  74.0     กรุงเทพมหานคร
2  หญิง  73.0            นครปฐม
3   ชาย  68.0     กรุงเทพมหานคร
4  หญิง  66.0     กรุงเทพมหานคร

In [47]:
print(f' จำนวน record ก่อน drop missing ใน province {this_data.shape[0]}')
print(f" จำนวน record หลัง drop missing ใน province {(this_data.dropna(subset=['province_of_onset'])shape[0])}")

SyntaxError: ignored