<a href="https://colab.research.google.com/github/therealzh/Data_viz/blob/main/Quiz_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/My Drive/Data viz'

In [ ]:
data_path = os.path.join(path,'-.57-.58-1.xls')

In [ ]:
data1_df = pd.read_excel(data_path,header=4,skipfooter=20)
data1_df.head()

  ลำดับ  ... เหตุผลที่คัดเลือกโดยสรุป
0   ที่  ...                      NaN
1     1  ...  เป็นผู้ให้บริการจำหน่าย
2     2  ...  เป็นผู้ให้บริการจำหน่าย
3     3  ...  เป็นผู้ให้บริการจำหน่าย
4     4  ...  เป็นผู้ให้บริการจำหน่าย

[5 rows x 9 columns]

In [ ]:
data2_df = pd.read_excel(data_path,sheet_name='พย.57',header=4,skipfooter=30)
data2_df.head()

  ลำดับ  ... เหตุผลที่คัดเลือกโดยสรุป
0   ที่  ...                      NaN
1     1  ...  เป็นผู้ให้บริการจำหน่าย
2     2  ...           เป็นผู้จำหน่าย
3     3  ...           เป็นผู้จำหน่าย
4     4  ...           เป็นผู้จำหน่าย

[5 rows x 9 columns]

In [ ]:
oct_re57 = data1_df.rename(columns={'Unnamed: 5':'ราคาเสนอ','Unnamed: 7':'ราคาซื้อ'})
nov_re57 = data2_df.rename(columns={'Unnamed: 5':'ราคาเสนอ','Unnamed: 7':'ราคาซื้อ'})

In [ ]:
data_all = pd.concat([oct_re57,nov_re57])
data_all

   ลำดับ  ... เหตุผลที่คัดเลือกโดยสรุป
0    ที่  ...                      NaN
1      1  ...  เป็นผู้ให้บริการจำหน่าย
2      2  ...  เป็นผู้ให้บริการจำหน่าย
3      3  ...  เป็นผู้ให้บริการจำหน่าย
4      4  ...  เป็นผู้ให้บริการจำหน่าย
..   ...  ...                      ...
46    33  ...           เป็นผู้จำหน่าย
47    34  ...           เป็นผู้จำหน่าย
48    35  ...           เป็นผู้จำหน่าย
49    36  ...           เป็นผู้จำหน่าย
50    37  ...           เป็นผู้จำหน่าย

[67 rows x 9 columns]